* {
	margin: 0;
}

article {
	max-width: 80%;
	margin: auto;
}

.nav {
	padding: 25px;
	background-color: black;
}

.nav ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	max-width: 80%;
}

.nav li {
	display: flex;
	margin-left: 30px;
	color: white;
}

.nav a {
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.header h1 {
	color: crimson;
}
.hero {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.hero img {
	height: 250px;
	border-radius: 50%;
	border: solid 5px crimson;
}

.list {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.list ul {
	min-width: 50%;
}

.footer {
	padding: 25px;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 0;
}
